.head {
    max-width: 50rem;
    margin: auto;
    border-radius: 2rem;
    background-color: #282e347a;
}

.nav-item:hover {
    animation-name: navItemHover;
    /* transition-duration: 2s; */
}

@keyframes navItemHover {
    0% {
        font-weight: bold;
    }

    50% {
        border-bottom: 1ps solid white;
        border-right: 1ps solid white;
    }

    100% {
        border: 1px solid white;        
    }
}